.card-post{
  margin-left: 20px; margin-bottom: 20px;
}
.pi-info-circle:hover{
  cursor: pointer;
}
.pi-pencil:hover{
  cursor: pointer;
}

.info-class{
  margin-top: -40px!important;
  display: flex;
  margin-bottom: 20px;
  float: right; font-size: 25px
}

.edit-class{
  display: flex;
  float: right; font-size: 25px;
  margin-top: 3px;
}
