
.pi-pencil:hover{
  cursor: pointer;
}
.edit-class:hover{
  cursor: pointer;
}

.trash-class:hover{
  cursor: pointer;
}

.info-class{
  margin-top: -40px!important;
  display: flex;
  margin-bottom: 20px;
  float: right; font-size: 25px
}

.edit-class{
  display: flex;
  float: right; font-size: 25px;
  margin-top: 3px;
}
